<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration 
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration> 
	<settings>
		<setting name="callSettersOnNulls" value="true"></setting>
		<setting name="jdbcTypeForNull" value="NULL"></setting>
		<setting name="logPrefix" value="com.nkds_query"></setting>
	</settings>
    <typeAliases> 
        <package name="com.nkds.web.model"/> 
    </typeAliases> 
    <mappers> 
        <mapper resource="com/nkds/sql/mapper/userMapper.xml"/>
        <mapper resource="com/nkds/sql/mapper/orgMapper.xml"/> 
    </mappers> 
</configuration> 
